<div id="wrapper">
    <table id="table" class="player1" align="center">
        <tr>
            <td x="0" y="0"></td>
            <td x="0" y="1"></td>
            <td x="0" y="2"></td>
            <td x="0" y="3"></td>
            <td x="0" y="4"></td>
            <td x="0" y="5"></td>
            <td x="0" y="6"></td>
            <td x="0" y="7"></td>
            <td x="0" y="8"></td>
            <td x="0" y="9"></td>
        </tr>
        <tr>
            <td x="1" y="0"></td>
            <td x="1" y="1"></td>
            <td x="1" y="2"></td>
            <td x="1" y="3"></td>
            <td x="1" y="4"></td>
            <td x="1" y="5"></td>
            <td x="1" y="6"></td>
            <td x="1" y="7"></td>
            <td x="1" y="8"></td>
            <td x="1" y="9"></td>
        </tr>
        <tr>
            <td x="2" y="0"></td>
            <td x="2" y="1"></td>
            <td x="2" y="2"></td>
            <td x="2" y="3"></td>
            <td x="2" y="4"></td>
            <td x="2" y="5"></td>
            <td x="2" y="6"></td>
            <td x="2" y="7"></td>
            <td x="2" y="8"></td>
            <td x="2" y="9"></td>
        </tr>
        <tr>
            <td x="3" y="0"></td>
            <td x="3" y="1"></td>
            <td x="3" y="2"></td>
            <td x="3" y="3"></td>
            <td x="3" y="4"></td>
            <td x="3" y="5"></td>
            <td x="3" y="6"></td>
            <td x="3" y="7"></td>
            <td x="3" y="8"></td>
            <td x="3" y="9"></td>
        </tr>
        <tr>
            <td x="4" y="0"></td>
            <td x="4" y="1"></td>
            <td x="4" y="2"></td>
            <td x="4" y="3"></td>
            <td x="4" y="4"></td>
            <td x="4" y="5"></td>
            <td x="4" y="6"></td>
            <td x="4" y="7"></td>
            <td x="4" y="8"></td>
            <td x="4" y="9"></td>
        </tr>
        <tr>
            <td x="5" y="0"></td>
            <td x="5" y="1"></td>
            <td x="5" y="2"></td>
            <td x="5" y="3"></td>
            <td x="5" y="4"></td>
            <td x="5" y="5"></td>
            <td x="5" y="6"></td>
            <td x="5" y="7"></td>
            <td x="5" y="8"></td>
            <td x="5" y="9"></td>
        </tr>
        <tr>
            <td x="6" y="0"></td>
            <td x="6" y="1"></td>
            <td x="6" y="2"></td>
            <td x="6" y="3"></td>
            <td x="6" y="4"></td>
            <td x="6" y="5"></td>
            <td x="6" y="6"></td>
            <td x="6" y="7"></td>
            <td x="6" y="8"></td>
            <td x="6" y="9"></td>
        </tr>
        <tr>
            <td x="7" y="0"></td>
            <td x="7" y="1"></td>
            <td x="7" y="2"></td>
            <td x="7" y="3"></td>
            <td x="7" y="4"></td>
            <td x="7" y="5"></td>
            <td x="7" y="6"></td>
            <td x="7" y="7"></td>
            <td x="7" y="8"></td>
            <td x="7" y="9"></td>
        </tr>
        <tr>
            <td x="8" y="0"></td>
            <td x="8" y="1"></td>
            <td x="8" y="2"></td>
            <td x="8" y="3"></td>
            <td x="8" y="4"></td>
            <td x="8" y="5"></td>
            <td x="8" y="6"></td>
            <td x="8" y="7"></td>
            <td x="8" y="8"></td>
            <td x="8" y="9"></td>
        </tr>
        <tr>
            <td x="9" y="0"></td>
            <td x="9" y="1"></td>
            <td x="9" y="2"></td>
            <td x="9" y="3"></td>
            <td x="9" y="4"></td>
            <td x="9" y="5"></td>
            <td x="9" y="6"></td>
            <td x="9" y="7"></td>
            <td x="9" y="8"></td>
            <td x="9" y="9"></td>
        </tr>
    </table>
</div>
<div id="btn-reset" class="btn-reset">New Game!</div>
<script src="../../../assets/table.js">s</script>